
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: $font-roboto;
  font-size: 1.6rem;
  color: #1d1d1b;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: #636363;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.main {
  flex-grow: 2;
  position: relative;
}

section {
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 20px;
}