.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;

  @media(max-width: 1199px) {
    width: 970px;
  }
  @media(max-width: 991px) {
    width: 750px;
  }
  @media(max-width: 767px) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}