.footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #cccccc;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__logo {
  display: flex;
}

@media (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}