.header {
  background: #eee;

  &__container {
    display: flex;
  }
  &__logo {
    display: flex;
  }
}

@media (max-width: 767px) {
  .header__container {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__logo {
    margin: auto;
  }
}