.menu {
  display: flex;
}

.menu__item {
  list-style: none;
  margin: 15px;
  position: relative;

  &--active {
    text-decoration: underline;
  }

  &:hover .menu__submenu {
    display: block;
  }
}

.menu__submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  z-index: 10;
}

.submenu {
  background: #ffffff;
  border: 1px solid;
}

.nav .menu {

}
.nav__button {
  cursor: pointer;
  background: #ffffff;
  outline: none;
  border: none;
  box-shadow: none;
  display: none;
  margin: 5px;
}

.nav__button.active + .menu {
  display: block;
}

.nav__button span {
  display: block;
  height: 4px;
  width: 30px;
  background: #003726;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .nav__button {
    display: block;
  }
  .menu {
    display: none;
  }
}