.slider__item {
  position: relative;

  img {
    max-width: 100%;
    object-fit: contain;
  }
}
.slider__nav {
  display: flex;
}
.slider__prev {
  background: #000000;
  font-size: 20px;
  color: #ffffff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 5px;
}

.slider__next {
  @extend .slider__prev;
}