.js-tab-item {
  display: none;
}

.js-tab-item.-active {
  display: block;
}

.tabs {
  display: flex;
}

.tab {
  margin: 10px;
  cursor: pointer;

  &.-active {
    text-decoration: underline;
  }
}

.tabs-items {
  padding: 10px;
}