<div class="container header__container">
  <div class="header__logo">
    //= logo.html
  </div>
  <nav class="nav header__nav">
    <button class="nav__button">
      <span></span>
      <span></span>
      <span></span>
    </button>
    //= menu.html
  </nav>
</div>