<ul class="menu">
  <li class="menu__item menu__item--active">
    <a href="#" class="menu__link">Один</a>
  </li>
  <li class="menu__item">
    <a href="#" class="menu__link">Два</a>
  </li>
  <li class="menu__item">
    <a href="#" class="menu__link">Три</a>
  </li>
  <li class="menu__item">
    <a href="#" class="menu__link">Четыре</a>
  </li>
  <li class="menu__item">
    <a href="#" class="menu__link">Пять</a>
  </li>
  <li class="menu__item">
    <a href="#" class="menu__link">Пункт с выпадающим меню</a>
    <ul class="menu__submenu submenu">
      <li class="menu__item menu__item--active">
        <a href="#" class="menu__link">Один</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Два</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Три</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Четыре</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Пять</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Пункт с выпадающим меню</a>
      </li>
    </ul>
  </li>
</ul>