<div class="slider">
  <div class="slider__item">
    <a href="#"><img src="https://natworld.info/wp-content/uploads/2018/02/vodosvinka-ili-kapibara-900x500.jpg" alt=""></a>
  </div>
  <div class="slider__item">
    <a href="#"><img src="http://s3.travelask.ru/system/images/files/000/346/510/full/fullsize_%281%29.jpg?1503560017" alt=""></a>
  </div>
  <div class="slider__item">
    <a href="#"><img src="https://avatars.mds.yandex.net/get-zen_doc/177006/pub_5a83e4821410c33286ea28c0_5a83e4b4830905db8ed10c6f/scale_600" alt=""></a>
  </div>
  <div class="slider__item">
    <a href="#"><img src="https://4tololo.ru/files/images/201318051904149514.jpg" alt=""></a>
  </div>
</div>
<div class="slider__nav">
  <div class="slider__prev"> < </div>
  <div class="slider__next"> > </div>
</div>
