  <div class="tabs js-tabs">
    <div class="tab js-tab" role="button" data-tab="1">Вкладка 1</div>
    <div class="tab js-tab -active" role="button" data-tab="2">Вкладка 2</div>
    <div class="tab js-tab" role="button" data-tab="3">Вкладка 3</div>
    <div class="tab js-tab" role="button" data-tab="4">Вкладка 4</div>
  </div>
  <div class="tabs-items js-tab-items">
    <div class="js-tab-item" data-item="1">
      <h3>Содержимое вкладки 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet commodi consequuntur culpa cum
        delectus eos esse excepturi harum iusto nesciunt optio pariatur placeat quibusdam saepe sapiente, similique sint
        tempore!</p>
    </div>
    <div class="js-tab-item -active" data-item="2">
      <h3>Содержимое вкладки 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet commodi consequuntur culpa cum
        delectus eos esse excepturi harum iusto nesciunt optio pariatur placeat quibusdam saepe sapiente, similique sint
        tempore!</p>
    </div>
    <div class="js-tab-item" data-item="3">
      <h3>Содержимое вкладки 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet commodi consequuntur culpa cum
        delectus eos esse excepturi harum iusto nesciunt optio pariatur placeat quibusdam saepe sapiente, similique sint
        tempore!</p>
    </div>
    <div class="js-tab-item" data-item="4">
      <h3>Содержимое вкладки 4</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet commodi consequuntur culpa cum
        delectus eos esse excepturi harum iusto nesciunt optio pariatur placeat quibusdam saepe sapiente, similique sint
        tempore!</p>
    </div>
  </div>